name: Pipeline de CI/CD - Teste e Deploy

# Define quando este workflow deve rodar
on:
  push:
    branches: [ "main" ] # Só roda deploy em pushes para a 'main'
  pull_request:
    branches: [ "main" ] # Roda testes em PRs para a 'main'

# Define os "trabalhos" que a pipeline executará
jobs:
  # TESTE
  build_and_test:
    name: Testar Aplicação
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código (Checkout)
        uses: actions/checkout@v4

      - name: Configurar Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm' # Adiciona cache para 'npm install' ser mais rápido

      - name: Instalar dependências
        run: npm install

      - name: Rodar os testes
        run: npm test

  # deploy
  deploy:
    name: Fazer Deploy no Render
    runs-on: ubuntu-latest
    
    # 'needs' garante que 'deploy' só roda se 'build_and_test' passar
    needs: build_and_test 
    
    # 'if' garante que o deploy só ocorre em push na 'main'
    # (e não em pull requests)
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Acionar Deploy Hook no Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"